@font-face {
    font-family: 'CarrdIcons';
    src: url('icons.ttf?mgny86') format('truetype'), url('icons.woff?mgny86') format('woff'), url('icons.svg?mgny86#CarrdIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    font-family: 'CarrdIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-905:before {
    content: '\e905'
}

.icon-906:before {
    content: '\e906'
}

.icon-907:before {
    content: '\e907'
}

.icon-90a:before {
    content: '\e90a'
}

