body, html {
  margin: 0;
  padding: 0;
}

#corner {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 0;
}

button {
  font-weight: 400;
  color: #555;
  font-size: 1vw;
  position: relative;
  background: none;
  border: solid 2px #555;
  border-radius: 4px;
  padding: 10px 20px;
}

a {
  text-decoration: none !important;
}

a button {
  margin-top: 1vh
}

#left {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  z-index: 2;
}

#right {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
}

body {
  background-color: #eeeeee;
  /* overflow: hidden; */
}

/* 
  Desktops
*/

@media (min-width: 900px) {
  #left {
    left: 10vw;
    top: 20vh;
  }

  #right {
    width: 50%;
  }

  #left h1 {
    font-size: 5em;
  }
  
  #left h2 {
    font-size: 1.5em;
  }
  
  #left p {
    font-size: 1.1em;
  }
}

/* 
  Mobiles
*/

@media (min-width: 0) and (max-width: 900px) {
  #left {
    width: 100%;
    text-align: center;
  }

  #right {
    width: 100%;
  }

  #left h1 {
    font-size: 3em;
    margin-bottom: 0;
  }
  
  #left h2 {
    display: none;
  }
  
  #left p {
    font-size: 1.2em;
  }

  #buttonDiv {
    position: relative;
    display: flex;
    justify-content: center;   
  }

  button {
    margin-left: 2px;
    font-size: 3vw;
    padding: 10px;
  }
}

